<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :title, "Title" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :details, "Details" %><br>
    <%= form.text_area :details %>
  </div>

  <div>
    <% if @task.new_record? %>
    <%= form.hidden_field :completed, value: false %>
    <% else %>
    <%= form.check_box(:completed, {}, "true", "false") %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
